@import url(style.css);


.account-hero {
  background-image: url(../img/landing-page-image/Rectangle\ 1473.png);
  background-size: cover;
  background-position: center;
  margin-bottom: -1rem;
}

.account-heading {
  font-style: bold;
  font-weight: 700 !important;
  letter-spacing: 0.1em !important;
  line-height: 1.6;
}

.account-paragraph {
  background-color: rgba(0, 0, 0, 0.202);
  font-weight: 600;
  font-size: 10px !important;
}
 
.account-select {
  cursor: pointer;
}

.notification-btn:hover,
.notification-btn:active {
  background-color: #cfe2ff !important;
}


#notToggle{
  display: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}


/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
