* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  /* border: 1px solid red; */
}

/* input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(black, 0.1) !important;
  border-bottom: 2px solid blue !important;
} */

.custom-button:focus {
  outline: none !important;
  border: 0 solid transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

:root {
  --primary: #0d6efd;
  --secondary: #669e00;
}

.fa-chevron-down {
  /*transform: rotate(0deg);
  */
  transition: 300ms linear;
  -webkit-transition: 300ms linear;
  -moz-transition: 300ms linear;
  -ms-transition: 300ms linear;
  -o-transition: 300ms linear;
}

.fa-chevron-down.open {
  /*transform: rotate(180deg);
  */
  transition: 300ms linear;
  -webkit-transition: 300ms linear;
  -moz-transition: 300ms linear;
  -ms-transition: 300ms linear;
  -o-transition: 300ms linear;
}

.card {
  overflow: hidden !important;
}

.fa-hands-clapping,
.fa-bell {
  -webkit-text-stroke: 1px black;
  color: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  animation: anime 1.5s infinite alternate ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-animation: anime 1.5s infinite alternate ease-in-out;
}

.fa-hands-clapping:hover,
.fa-bell:hover {
  transform: rotate(15deg);
  animation: stop;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}

@keyframes anime {
  0% {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  100% {
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
  }
}

@keyframes stop {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

input:focus {
  box-shadow: 0 0 0 0 !important;
}

input::placeholder {
  color: rgba(245, 245, 245, 0.801) !important;
}

.latest-article-size {
  font-size: 10px;
}

.latest-article-size a p:hover {
  color: var(--primary);
}

.trending-input {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 5px);
}

.m-negative {
  margin-left: -5rem;
}

.zoom {
  transition: all 1.3s ease-in-out;
  overflow: hidden;
  -webkit-transition: all 1.3s ease-in-out;
  -moz-transition: all 1.3s ease-in-out;
  -ms-transition: all 1.3s ease-in-out;
  -o-transition: all 1.3s ease-in-out;
}

.zoom:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.play {
  transition: 1s all ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.play:hover {
  cursor: pointer;
}

img {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
img:hover {
  transform: rotate(15deg);
  cursor: pointer;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}

#footer {
  background-color: #031633;
}

#nav-bar ul li a,
#footer ul li a {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
#nav-bar ul li a:hover,
#footer ul li a:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  cursor: pointer;
  color: var(--secondary) !important;
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  -moz-transform: scale3d(1.1, 1.1, 1.1);
  -ms-transform: scale3d(1.1, 1.1, 1.1);
  -o-transform: scale3d(1.1, 1.1, 1.1);
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transition: all 0.3s;
}

.popup-content {
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 8px #666;
  transition: all 0.5s 0.2s;
  z-index: 400;
  width: 32% !important;
  -webkit-transition: all 0.5s 0.2s;
  -moz-transition: all 0.5s 0.2s;
  -ms-transition: all 0.5s 0.2s;
  -o-transition: all 0.5s 0.2s;
}

.kodecamp-img {
  width: 1rem;
}

.hidden {
  display: none;
}

/* notification styling */
.popup-notify {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  height: 400px;
  width: 80%;
  position: fixed;
  top: 17%;
  left: 32%;
  z-index: 9999;
  overflow: hidden;
  overflow-y: scroll;
  /* transition: all 2.5s ease; */
}

.popup-content-notify {
  height: 100%;
  width: 40%;
  z-index: 400;
}

.popup-content-container {
  border-radius: 10px;
  box-shadow: 5px 5px 8px #666;
  width: 100%;
}

.close-modal-notify,
.popup-content-container {
  background-color: rgb(255, 255, 255);
}

.overlay-notify {
  background-color: rgba(0, 0, 0, 0.205);
  backdrop-filter: blur(px);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  /* transition: all 2.3s; */
}

.info {
  position: relative;
  background-color: #f8f9fa;
}

.info:hover {
  background: rgb(238, 234, 234) !important;
  cursor: pointer;
}

.hidden-notify {
  display: none;
  /* transition: all 2.5s ease; */
}

.notif-menu {
  width: 15%;
  z-index: 9999;
  margin-top: -2%;
  margin-left: 22%;
  position: absolute;
}

.delete-btn,
.mute-btn {
  cursor: pointer;
}

.delete-btn:hover,
.mute-btn:hover {
  background: rgb(238, 234, 234) !important;
}

.delete-head,
.mute-head {
  font-size: 0.8rem;
  font-weight: bold;
}

.head-text,
.mute-text {
  font-size: 0.5rem;
}

.notification-container {
  transition: 0.5s linear;
}

.sidelist ul li {
  list-style: none;
  font-size: 12px;
}

.sidedrop {
  cursor: pointer;
}

.side-list-item {
  display: none;
  position: absolute;
}
.sidelist ul li:hover {
  cursor: pointer;
}

.side-list-item-show {
  display: block;
}

.popup-content-notify {
  width: 30%;
}

.swap:hover,
.swap1:hover,
.swap2:hover,
.swap3:hover,
.swap4:hover {
  color: var(--primary) !important;
}

.markall:hover {
  cursor: pointer;
  color: var(--secondary);
}

.account-list {
  list-style: none;
  left: 85%;
  width: 17% !important;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.575);
  display: none;
}

.account-list-show {
  display: block;
}

.account-list p {
  font-size: 0.9rem !important;
}

.account-list li:hover {
  background-color: rgba(0, 0, 255, 0.145) !important;
  /* color: white; */
}

.popup-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
}

.overlay-logout {
  background-color: rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(3px); */
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.popup-content-logout {
  transition: all 0.5s 0.2s;
  z-index: 400;
  width: 100%;
  -webkit-transition: all 0.5s 0.2s;
  -moz-transition: all 0.5s 0.2s;
  -ms-transition: all 0.5s 0.2s;
  -o-transition: all 0.5s 0.2s;
}

.hidden-logout {
  display: none;
}

.open-modal-logout {
  cursor: pointer;
}

.close-modal-logout {
  cursor: pointer;
}

.book {
  -webkit-text-stroke: 2px black;
  cursor: pointer;
}

@media only screen and (max-width: 769px) {
  .popup-notify {
    top: 22%;
  }

  .popup-content-notify {
    width: 60%;
  }

  .notif-menu {
    width: 35%;
  }

  .popup-content {
    width: 50% !important;
    height: 80vh !important;
  }
  .account-list {
    left: 70%;
    width: 30% !important;
  }
}

@media only screen and (max-width: 426px) {
  .signin-input {
    width: 100% !important;
  }

  .popup-notify {
    top: 22%;
    left: 10%;
  }

  .popup-content-notify {
    width: 90% !important;
  }

  .notif-menu {
    width: 35%;
  }

  .notif-menu {
    margin-left: 40%;
  }

  .popup-content {
    width: 90% !important;
    height: 80vh !important;
  }

  .account-list {
    left: 0;
    width: 100% !important;
  }
}
